$translate: translate(-50%, -50%);

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: $translate;
  width: 60px;
  height: 60px;
  border: 7px solid var(--cls-element);
  border-top-color: var(--cls-element-hover);
  border-radius: 50%;
  animation: loadingSpinner 0.75s linear infinite;
}

@keyframes loadingSpinner {
  0% {
    transform: $translate rotate(0deg);
  }
  100% {
    transform: $translate rotate(360deg);
  }
}
