.selection {
  position: relative;
  &--btn-div {
    position: relative;
    height: 100%;

    @media (max-width: 375px) {
      height: 55px;
    }
  }
  &-icon-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    pointer-events: none;

    @media (max-width: 375px) {
      right: 15px;
    }

    &--icon {
      transform: rotate(180deg);
      transition: transform 0.25s;
      &--active {
        transform: rotate(0);
      }
      & path {
        fill: currentColor;
      }
    }
  }
  &--btn {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: currentColor;
    padding-left: 25px;
    border: none;
    background-color: var(--cls-element);
    text-align: start;
    cursor: pointer;

    @media (max-width: 825px) {
      width: 185px;
      padding: 0 20px;
      font-size: 12px;
    }

    @media (max-width: 700px) {
      width: 225px;
    }

    @media (max-width: 450px) {
      padding: 0 15px;
      width: 175px;
    }
    @media (max-width: 375px) {
      width: 150px;
    }
  }
  &__dropdown {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    transform: translateY(103%) scaleY(0);
    transform-origin: top;
    width: 100%;
    cursor: auto;
    transition: transform 0.25s;
    &--active {
      transform: translateY(103%) scaleY(1);
    }
    &--element {
      padding: 10px 0 10px 20px;
      text-align: start;
      text-transform: capitalize;
      background: none;
      border: none;
      cursor: pointer;
      list-style: none;
      color: currentColor;
      font-size: inherit;
      font-weight: inherit;

      &:hover:not(.element--active) {
        background-color: var(--cls-element-hover);
      }
      &.element--active {
        background-color: var(--cls-element-hover);
      }
    }
  }
}
