.country-page {
  &__btn-div {
    margin: 75px 0;

    @media (max-width: 950px) {
      margin: 35px 0 50px 0;
    }
  }
  &--btn-back {
    & svg {
      margin-right: 10px;
      transform: scale(0.8);
      & path {
        fill: currentColor;
      }
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 950px) {
      flex-direction: column;
    }

    &-img-div {
      flex-basis: 45%;

      @media (max-width: 1150px) {
        flex-basis: 48%;
      }
    }
    &__text {
      flex-basis: 43%;
      font-size: var(--font-size-detail);

      @media (max-width: 1325px) {
        flex-basis: 48%;
      }

      @media (max-width: 1225px) {
        font-size: 15px;
      }
      @media (max-width: 950px) {
        margin-top: 30px;
      }
    }
    &-h2-div {
      margin-bottom: 20px;
    }
    &--h2 {
      font-size: 30px;

      @media (max-width: 950px) {
        font-size: 28px;
      }
    }
  }
}
