.filter-remove {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: calc(100% - 15px);
  margin-right: 20px;
  padding: 0 10px;
  border-radius: 100vw;
  color: currentColor;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;

  @media (max-width: 925px) {
    width: 150px;
  }

  @media (max-width: 725px) {
    width: 130px;
    margin-right: 10px;
  }

  @media (max-width: 700px) {
    margin-right: 0;
    margin-left: 20px;
  }

  & > p {
    text-transform: capitalize;
    font-weight: var(--font-weight-semibold);
    margin-left: 10px;
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #f47174;
    color: #fff;
    font-size: 16px;
  }
}
