.filter-remove {
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  height: calc(100% - 15px);
  margin-right: 20px;
  padding: 0 15px;
  border-radius: 100vw;
  color: currentColor;
  border: none;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  text-transform: capitalize;
  font-weight: var(--font-weight-light);

  @media (max-width: 925px) {
    width: 150px;
  }

  @media (max-width: 725px) {
    width: 130px;
    margin-right: 10px;
  }

  @media (max-width: 700px) {
    height: 40px;
    margin-right: 0;
    margin-left: 20px;
  }
  @media (max-width: 375px) {
    font-size: 13px;
    margin-left: 10px;
  }

  &--cross {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    background-color: #f47174;
    color: #fff;
    font-size: 12px;
    font-weight: 300;

    @media (max-width: 375px) {
      width: 23px;
      height: 23px;
      font-size: 10px;
    }
  }
}
