.pagination-more {
  position: relative;

  &__buttons {
    box-sizing: content-box;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0 5px;
    min-height: 40px;
    background-color: var(--cls-element);
    transform: translate(-50%, -30px) scaleY(0);
    transform-origin: bottom;
    opacity: 0;
    transition: transform 0.25s, opacity 0.25s;

    & > button {
      margin: 0 2px;
    }
  }

  &:hover > &--btn-more {
    background-color: var(--cls-element-hover);
  }
  &:hover > &__buttons {
    transform: translate(-50%, -30px) scaleY(1);
    opacity: 1;
  }
}
